@{
    ViewData["Title"] = "صفحه اصلی";
}



<div class="col-12 col-md-12 col-lg-10">
	<div class="box box-content" id="content">
		<div class="content">
			<!-- ABOUT -->
			<div id="about-tab" class="tabcontent active">
				<div class="pb-0 pb-sm-2">
					<h1 class="title title--h1 first-title title__separate">جهان دیجیتال، بوم نقاشی من است</h1>
                    <p>
                        من، به عنوان یک مهندس کامپیوتر، همیشه شیفته دنیای پیچیده و بی‌کران فناوری بوده‌ام. دنیایی که در آن، کدها به زبان هنر تبدیل می‌شوند و الگوریتم‌ها، داستان‌های بی‌نظیری را رقم می‌زنند.
                    </p>
                    <p>
                        برنامه‌نویسی، برای من نه تنها یک شغل، بلکه یک اشتیاق تمام‌نشدنی است. با هر خط کدی که می‌نویسم، انگار یک قطعه از پازل بزرگ برنامه نویسی را تکمیل می‌کنم. این پازل، دنیایی از امکانات بی‌نهایت را پیش روی من می‌گشاید.
                    </p>
				</div>
			</div>
		</div>
	</div>
</div>