@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>صفحه مورد نظر یافت نشد</title>
    <!-- Favicon-->
    <link rel="icon" href="~/Admin/assets/images/favicon.ico" type="image/x-icon">
    <!-- Plugins Core Css -->
    <link href="~/Admin/assets/css/app.min.css" rel="stylesheet">
    <link href="~/Admin/assets/js/bundles/materialize-rtl/materialize-rtl.min.css" rel="stylesheet">
    <!-- Custom Css -->
    <link href="~/Admin/assets/css/style.css" rel="stylesheet" />
    <link href="~/Admin/assets/css/pages/extra_pages.css" rel="stylesheet" />
</head>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form">
                    <span class="error-header p-b-45">
                        404
                    </span>
                    <span class="error-subheader p-b-5">
                        شما دسترسی لازم به صفحه مورد نظر را ندارید
                    </span>
                    <span class="error-subheader2 p-b-5">
                        صفحه ای که به دنبال آن هستید در دسترس نیست!
                    </span>

                    <div class="container-login100-form-btn p-t-30	">
                        <a asp-controller="Home" asp-action="Index" class="login100-form-btn">
                            برو به صفحه اصلی
                        </a>
                    </div>

                    <div class="w-full p-t-15 p-b-15 text-center">

                        <div>
                            <a href="#" class="txt1">
                                آیا نیازمند کمک هستید؟
                            </a>
                        </div>
                    </div>

                </form>

                <div class="login100-more">
                    <img src="~/Admin/assets/images/pages/bg-03.png" />
                </div>
            </div>
        </div>
    </div>

    <!-- Plugins Js -->
    <script src="~/Admin/assets/js/app.min.js"></script>
    <!-- Extra page Js -->
    <script src="~/Admin/assets/js/pages/examples/pages.js"></script>
</body>
</html>