@model Resume.Application.Dtos.Blog.ArticleCategory.CreateArticleCategoryDto


@{
    ViewData["Title"] = "ایجاد دسته بندی جدید";
}


<partial name="_AdminJqueryValidators" />


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="breadcrumb breadcrumb-style" style="float : right;">
            <li class="breadcrumb-item">
                <h4 class="page-title">@ViewData["Title"]</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
                <a asp-area="Administration" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-home"></i>داشبورد
                </a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
                <a href="#" onclick="return false;">مدیریت دسته بندی ها</a>
            </li>
            <li class="breadcrumb-item active">ایجاد دسته بندی جدید</li>
        </ul>
    </div>
</div>

<div class="card p-5">
    <h2 class="card-inside-title" style="font-size : 22px; margin-top : 15px; margin-bottom:25px;">فرم ایجاد دسته بندی</h2>
    <form asp-area="Administration" asp-controller="Blog" asp-action="CreateArticleCategory" method="post" enctype="multipart/form-data">
        <div class="row clearfix">
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" asp-for="ArticleCategoryTitle" class="form-control mb-4" placeholder="عنوان دسته بندی">
                        <span asp-validation-for="ArticleCategoryTitle" class="text-danger "></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" asp-for="ShortDescription" class="form-control mb-4" placeholder="توضیحات کوتاه">
                        <span asp-validation-for="ShortDescription" class="text-danger "></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="form-line">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>آپلود تصویر دسته بندی</span>
                                <input asp-for="ArticleCategoryImage" type="file" multiple="">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="یک فایل را آپلود کنید">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-success btn-block" type="submit">ثبت اطلاعات</button>
        </div>
    </form>
</div>
